{% extends 'AdidasOmBundle::layout.html.twig' %}
{% block content%}
<link rel="stylesheet" type="text/css" href="{{asset('bundles/adidasom/stylesheets/slick.css')}}" />
    <!-- CORPS -->
    <div class="page_om" id="page_classement">
        <div class="mob_only" id="header_mob">
            <img src="{{asset('bundles/adidasom/images/logo_adidas_mob.gif')}}" alt="Adidas">
            <!-- Menu mobile -->
            <div class="menu_mob">
                <a href="#"><img src="{{asset('bundles/adidasom/images/picto_menu_mob.png')}}" alt="Menu"></a>
                <ul>
                    <li><a href="{{path('adidas_challenges')}}">Challenges</a></li>
                    <li><a href="{{path('adidas_classement')}}" class="actif">Classements</a></li>
                    <li><a href="{{path('adidas_om_profil')}}">Mon compte</a></li>
                </ul>
            </div>
            <!-- Menu mobile -->
        </div>
        <div class="header_page xs" style="background: url({{asset('bundles/adidasom/images/visu_h_classement.jpg')}}) no-repeat center bottom">
            <!-- Image de fond -->
            <img class="visu_bg" src="{{asset('bundles/adidasom/images/visu_h_classement.jpg')}}" alt="">
            <!-- /Image de fond -->
            <div class="conteneur_centre">
                    <div class="logo_po"><img src="{{asset('bundles/adidasom/images/logo_po_head.png')}}" alt="Peuple olympien"></div>
            </div>
        </div>
        <div class="corps_page" style="background: url({{asset('bundles/adidasom/images/visu_b_classement.jpg')}}) no-repeat center top">
        <!-- Nav Adi -->
        <div class="bandeau_nav">
            <div class="conteneur_centre">
                <ul>
                    <li><a href="{{path('adidas_challenges')}}">Challenges</a></li>
                    <li><a href="{{path('adidas_classement')}}" class="actif">Classements</a></li>
                    <li><a href="{{path('adidas_om_profil')}}">Mon compte</a></li>
                </ul>
                <span class="trait"></span>
            </div>
        </div>
        <!-- /Nav Adi -->
        <!-- Image de fond -->
        <img class="visu_bg" src="{{asset('bundles/adidasom/images/visu_b_classement.jpg')}}" alt="">
        <!-- /Image de fond -->
            <ul id="ariane_adi" class="conteneur_centre">
                <li><a href="{{ path('adidas_om_homepage') }}">Accueil</a></li>
                <li><span>Classements</span></li>
            </ul>
            <div class="conteneur_centre">
                <!-- Onglets classements -->
                <div class="onglets">
                    <div class="col_1_2 general">
                        <img class="picto" src="{{asset('bundles/adidasom/images/picto_classement_general.png')}}" alt="">
                        <div class="txt">
                            <p class="titre">classement général</p>
                            <p class="desc">Retrouve ta position parmi les {{participants}} joueurs inscrits</p>
                             {% include 'AdidasChallengeBundle:Challenge:selectJeu.html.twig' with {'challenges': challenges}%}
                        </div>
                    </div>
                </div>
                <!-- /Onglets classements -->
                <!-- Carrousel Slick -->
                <div id="carrousel_classement" class="carrousel">
                    {% for bestPar in bestParticipants%}
                        <!-- Slide -->
                        <div class="slide">
                            <div class="carte bleu">
                                <div class="reflet"></div>
                                <div class="carte_seule">
                                    <img class="photo" src="{{bestPar.picture}}" alt="">
                                    <div class="deco">
                                        <p class="nom">{{bestPar.name}}</p>
                                        {%if bestPar.s is not empty%}
                                            <p class="points">{{bestPar.s}} pts</p>
                                        {%else%}
                                            <p class="points">0 pts</p>
                                        {%endif%}
                                        
                                    </div>
                                </div>
                                <p class="classement">{% if bestPar.count is defined  %}{{bestPar.count}}{%else%}{{loop.index}}{%endif%}</p>
                            </div>
                        </div>
                        <!-- /Slide -->
                    {%endfor%}
                </div>
                <!-- /Carrousel Slick -->
                {% if best is not empty %}
                    <!-- Top 3 joueurs -->
                    <div class="top3 row">
                        <div class="col_1_3 premier">
                            <p class="titre">Le <span>meilleur joueur</span></p>
                            <div class="conteneur_carte">
                                <div class="carte dore">
                                    {% include 'AdidasChallengeBundle:Challenge:classementMember.html.twig' with {'member': best, 'type': 'best'}%}
                                </div>
                            </div>
                        </div>
                    {%endif%}
                    {% if bestMonth is not empty %}
                        <div class="col_1_3 deuxieme">
                            <p class="titre">Le <span>joueur du mois</span></p>
                            <div class="conteneur_carte">
                                <div class="carte bleu">
                                    {% include 'AdidasChallengeBundle:Challenge:classementMember.html.twig' with {'member': bestMonth, 'points' : pointsMonth, 'type': 'month'}%}
                                </div>
                            </div>
                        </div>
                    {%endif%}
                    {%if last is not empty %}
                        <div class="col_1_3 troisieme">
                            <p class="titre">La lanterne <span>rouge</span></p>
                                <div class="conteneur_carte">
                                    <div class="carte rouge">
                                        {% include 'AdidasChallengeBundle:Challenge:classementMember.html.twig' with {'member': last, 'type': 'last'}%}
                                    </div>
                                </div>
                        </div>
                    {%endif%}
                </div>
                <!-- /Top 3 joueurs -->
            </div>
        </div>
        <!-- Ancre top -->
        <div class="ancre_top"></div>
        <!-- Ancre top -->
    </div>
    <!-- /CORPS -->
    <!-- SCRIPTS JS -->
    <!-- Firebug a enlever pour prod -->
        <!--[if IE]><script type="text/javascript" src="https://getfirebug.com/firebug-lite.js"></script><![endif]-->
    <!-- /Firebug a enlever pour prod -->
    <script type="text/javascript" src="{{ asset('bundles/adidasom/javascript/min/slick.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/adidasom/javascript/min/partage_social.min.js')}}"></script>
    {%endblock%}